{% extends 'store/base.html' %}

{% block content %}

<h2>Add New Product</h2>
<!-- <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Product</button>
</form> -->

<hr>
<ul>
  {% for product in products %}
    <li>
      <strong>{{ product.name }}</strong> - {{ product.price }}$
      <br>
      Added on: {{ product.date_added|date:"Y-m-d H:i" }}
      {% if product.image %}
        <br><img src="{{ product.image.url }}" width="100">
      {% endif %}
      <br><a href="{% url 'update_product' product.pk %}">Edit</a>
      |
      <a href="{% url 'delete_product' product.pk %}">Delete</a>
    </li>
  {% endfor %}
</ul>

<a href="{% url 'add_product' %}">+ Add New Product</a>
{% endblock %}